*{margin:0;
padding:left;
}
.iconeheader1, .iconeheader2,.iconeheader3 {
     width: 30px;
    height: 30px; 
    margin right: 5px;
}

.iconetexto{
    display: flex;
    align-items: center;
}

header{
    display: flex;
    justify-content:space-between;
   background-color: burlywood;
    font-size: 40px;
}

navegation{

    background-color: crimson;
}




footer{
    display: flex;
    justify-content:center;
   background-color: burlywood;
    font-size: 40px;

}